<div class="component" >

  <div class="title">

    <h1>Meus Conhecimentos</h1>

  </div>

  <div class="main">

    <div *ngFor="let item of knowledge_tuple" class="container">

      <div class="container-header" >

        <span class="container-title">{{ item[0] }}</span>

        <div class="container-logo">
          <img ngSrc="{{item[2]}}" width="24" height="24" alt="Logo">
        </div>

      </div>

      <br>

      <p class="container-text">{{ item[1] }}</p>

    </div>

  </div>

</div>
