<div class="main">
  <div class="photo">
    <div class="img">
      <!--   Minha Foto   -->
    </div>
  </div>

  <div class="text">
    <h1>Sobre mim</h1>
    <p>Sou um entusiasta de TI de 24 anos, atualmente estudante empenhado em me tornar um desenvolvedor web fullstack. Minhas habilidades abrangem Angular, Node, PostgreSQL, React e TypeScript. Meu portfólio inclui projetos que demonstram meu domínio dessas tecnologias. Estou comprometido com o aprendizado contínuo e em busca de uma oportunidade como desenvolvedor júnior. Se você procura alguém apaixonado por tecnologia e pronto para enfrentar desafios, estou ansioso para colaborar. Entre em contato comigo pelo LinkedIn ou por e-mail em para explorar possíveis parcerias no mundo do desenvolvimento web.</p>
  </div>
</div>
