.main
  display: flex
  flex-direction: row
  width: 100%
  height: 70vh
  align-items: center
.photo
  display: flex
  align-items: center
  justify-content: center
  width: 50%
  height: 100%
img
  padding: 1em
  border: 3px solid black
  box-shadow: black 8px 8px
  width: 20em
  height: 20em
.text
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  text-align: justify
  width: 50%
  height: 100%
.text p
  width: 80%

// Para smartphones
@media screen and (max-width: 768px)
  .main
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    margin-bottom: 2em
    box-sizing: border-box
  .photo
    width: 100%
    padding-top: 3em
  .img
    width: 70%
    height: 100%
  .text
    box-sizing: border-box
    margin-bottom: 2em
    width: 100%
    font-size: 18px
    text-align: justify

// Para telas de tablets e iPads
@media screen and (min-width: 769px) and (max-width: 1365px)
  .main
    display: flex
    flex-direction: column
    height: 80vh
  .photo
    display: flex
    justify-content: center
  .img
    width: 25em
    height: 23em
  .text
    width: 100%
    font-size: 18px
    display: flex
    align-items: center
    justify-content: center

// Para telas 2-4k+
@media screen and (min-width: 1441px)
  .photo
    display: flex
    justify-content: center
  .img
    width: 35em
    height: 30em
  .text
    font-size: 24px
    display: flex
    align-items: center
    justify-content: center
