<div class="main">
  <div class="photo">
    <div class="img">
      <!--   Minha Foto   -->
    </div>
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac neque massa. In tincidunt gravida urna, quis bibendum diam interdum vel. Suspendisse potenti. Maecenas a ante eu purus bibendum bibendum. Proin vel metus vel sem pretium fermentum. Sed nec vestibulum tortor. Sed ut justo vitae velit maximus tristique in ac nulla. Sed nec velit sit amet turpis vulputate rhoncus. Fusce facilisis eros a malesuada efficitur. Donec euismod vulputate urna eget bibendum. Sed venenatis vitae risus nec aliquam. Maecenas sollicitudin id leo ac rhoncus.

    Vestibulum auctor nunc sit amet justo pellentesque, non suscipit dolor varius. In at sagittis quam. Vivamus id lectus felis. Morbi consequat, sapien ac euismod convallis, justo leo blandit sapien, id tincidunt sapien libero eu justo. Nullam a tortor vel odio vehicula tempus. Proin viverra orci et turpis bibendum, quis euismod erat tincidunt. In nec tincidunt justo. Praesent luctus odio ut bibendum egestas. Sed a magna nec velit tincidunt finibus. Aenean fringilla interdum dolor, nec volutpat velit tincidunt at. Sed consectetur vehicula ipsum, a eleifend justo tincidunt id. Donec tristique, est eget condimentum tincidunt, elit ex finibus lorem, non facilisis purus ex eu enim. Donec tristique elit ac fringilla vehicula. Ut eu magna ut massa tincidunt gravida ut nec tellus.
  </div>
</div>
