<div class="main">
  <div class="social">
    <div class="title">
      Onde me encontrar
    </div>
    <div class="containers">
      <a href="https://www.instagram.com/that_damn_flavio/" class="container">Instagram</a>
      <a href="https://www.linkedin.com/in/flavio-nascimento-5836661a1/" class="container">Linkedin</a>
      <a href="https://mail.google.com/mail/?view=cm&to=flaviohnrq879@gmail.com" class="container">Gmail</a>
    </div>
  </div>
</div>
<div class="tech">
  <span>Desenvolvido com Angular por <a href="">Flavio Nascimento</a></span>
</div>
